In [1]:
#sets 
#unorderd and immutable 
#list and tuple -------orderd 
#it start with curly braces 
#it does not allow duplicate value 
#use cases 
#it helps in removing duplicate values
#union ,intersection and difference(mathematical operation)

In [2]:
my_set={1,2,3,4}
print(my_set)

{1, 2, 3, 4}

In [5]:
my_set2={1,2,3,4,2,3,4,1,2,3,4,5}
print(my_set2)

{1, 2, 3, 4, 5}

In [8]:
fruits={'apple','banana','guava'}
print(fruits)

{'banana', 'guava', 'apple'}

In [9]:
fruits={'apple','banana','guava','apple'}
print(fruits)

{'banana', 'guava', 'apple'}

In [14]:
fruits={'apple','banana','guava','APPLE','Apple'}
print(fruits)

{'banana', 'APPLE', 'guava', 'apple', 'Apple'}

In [17]:
letters=set('hello')
print(letters)

{'l', 'h', 'e', 'o'}

In [26]:
a=set(123456789)
print(a)

TypeError: 'int' object is not iterable

In [21]:
a=set('123456789')
print(a)

{'4', '1', '5', '6', '9', '8', '2', '7', '3'}

In [27]:
empty_set=set()
print(empty_set)
print(type(empty_set))

set()
<class 'set'>

In [29]:
#set operation 
#add
#delete 

#add
numbers={1,2,3}
numbers.add(4)
print(numbers)

{1, 2, 3, 4}

In [33]:
numbers={1,2,3}
numbers.remove(3)
print(numbers)

{1, 2}

#discard
numbers.discard(6)
print(numbers)

In [35]:
#remove and discard method both are used to remove the element from the set but the discard 
# method does not throw any error if that specific element is not found

In [36]:
#membership checking
numbers={1,2,3,4,5,6,7}
print(2 in numbers)

True

In [37]:
print( 8 in numbers)

False

In [38]:
print(10 in numbers)

False

In [41]:
#clear method all the elements from the set but the structure of the set is not deleted
numbers.clear()
print(numbers)

set()

In [42]:
#delete
a={1,2,3}
del.a
print(a)

SyntaxError: invalid syntax (103925561.py, line 3)

In [43]:
#pop method 
numbers={1,2,3,4}
numbers.pop()

1